<% @post.each do |post| %>
<div class="card border-primary mb-3" style="max-width: 18rem;">
  <h5 class="card-header"><strong><%= post.topic.name %> : <%= post.title %></strong></h5>
  <div class="card-body">
    <p class="card-text">"<%= post.body %>"</p>
    <% post.tags.each do |tag| %>
    <%= link_to tag, style:"text-decoration:none" do %>
      <span class="btn btn-outline-dark"><%= tag.tag_name.capitalize %></span>
    <% end %>
  <% end %>
  <div class="bl"><strong>Comments (<%= post.comments.count %>)</strong></div>
  <%= form_with(model: [post, post.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.text_area :stuff, class: 'form-control', placeholder: "New Comment" %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
  <div class="bl"><%= render post.comments %></div>
  </div>
</div>
<% end %>
<%= will_paginate @post, class: "apple_pagination" %>
