<br/>
<table class="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Posts</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <% @posts.each do |post| %>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Edit Post', edit_topic_post_path(@topic, post),class: 'btn btn-outline-secondary' %></td>
        <td><%= link_to 'Destroy Post', [@topic, post],class: 'btn btn-outline-danger', data: {'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Post', new_topic_post_path(@topic),class: 'btn btn-outline-primary' %> |
<%= link_to 'Back', [@topic],class: 'btn btn-outline-dark' %>